section {
	border: 1px solid;
	width:20em;
	height:13em;
	margin:50px auto;	
	text-align:center;
	border-radius:10px;
	
}
.inputForm{
	padding-bottom:20px;
}
form{
	margin-top: 35px;
	padding-bottom:10px;
}

input{
	width:95px;
	border-color: transparent;
	border-bottom:1px solid black;
	font-family: 'Roboto', sans-serif;
}
.output-label{
	font-family: 'Roboto', sans-serif;
	display:inline-block;
	margin-right:2px;
	border-bottom: 1px solid;
	width:100px;
	text-align: left;
}
option{
	font-family: 'Roboto', sans-serif;
}